

/* navigation bar for all pages*/

    .navbar {
        margin-bottom: 10px;
        border-bottom-color: blue;
        border-bottom-style: solid;
        border-bottom-width: 10px;
        color: white;
        background-color: white;
        }

    .navbar-text {
        background-color: blue;
        text-align: center;
        font-family: 'Overpass', sans-serif;
        padding: 15px;
        margin: 0;
        }

    .navbar-right {
        padding-top: 5px;
        margin: 0;
        }

    .linktext {
        color: #808080;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;   
        }

    .active {
        background-color: blue;
        color: white;
        }

    .spaceing {
        height: 30px;
        }
    

/* main contianer for primary content for all html pages */

    body {
        background-image: url("../images/background.jpg");
        height: 100%;
        width: 100%;
        }

    .page-header {
        border-bottom-color: blue;
        font-family: 'Overpass', sans-serif;
        color: blue;
        }

    .main {
        background-color: white;
        margin-right: 20px;
        }
    
/* about me page */

    .img1 {
        float: left;
        height: 240px;
        width: 240px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
        }

    .p1 {
        margin-top: 10px;
        font-family:Arial, Helvetica, sans-serif;
        }
    
/*connect with me section on all html pages */

    .connect {
        list-style: none;
        margin: 0;
        }

    .img2 {
        height: 84px;
        width: 84px;
        margin: 0;
        padding-right: 6px;
        padding-top: 5px;
        padding-bottom: 5px;
        }

    .main2 {
        background-color: white;
        padding-bottom: 10px;
        }

/*profile page */

    .portpic {
        float: left;
        height: 250px;
        width: 250px;
        }
    
    .thumbnail {
        position: relative;
        display: inline-block;
        }
    
    .caption {
        position: absolute;
        top: 60%;
        left: 0;
        width: 100%;
        background-color: blue;
        height: 40px;
        text-align: center;
        font-family: 'Overpass', sans-serif;
        }

    .p2 {
        color: white;
        }

/*form - contact me page*/

    .btn {
        margin-bottom: 10px;
        background-color: blue;
        color: white;
        }

/*footer section on all html pages */

    footer {
        bottom: 0;
        width: 100%;
        background-color: darkgray;
        color: lightgrey;
        text-align: center;
        border-top: blue;
        border-top-style: solid;
        border-top-width: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        }

